<nav class="navbar navbar-expand navbar-dark bg-dark">
	<a class="navbar-brand">Network Manager</a>
	<button aria-controls="navbarData" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
			data-target="#navbarData" data-toggle="collapse" type="button">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarData">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="/home">Nodes <span class="sr-only">(current)</span></a>
			</li>
		</ul>
		<button (click)="fetchNodes()" type="button">Refresh</button>
	</div>
</nav>

<br>
<div *ngIf="!isLoading; else loadingTemplate"
	 class="row justify-content-center"
	 style="padding-right: 10px; padding-left: 10px;">

	<div *ngFor="let node of nodes" class="col-sm-4">
		<div class="card mb-4 box-shadow">
			<div class="card-header">
				<h4 class="my-0 font-weight-normal">{{node.name}}</h4>
			</div>
			<div class="card-body">
				<ul class="list-unstyled mt-3 mb-4">
					<li>Public IP: {{node.ipAddress}}</li>
					<li>Type: {{node.type}}</li>
					<li>Network Name: {{node.networkName}}</li>
					<li>Battery Percentage: {{node.batteryPercentage}}%</li>
				</ul>
				<button class="btn btn-sm btn-block btn-info" routerLink="/node/{{node.ipAddress}}" type="button">
					See More
				</button>
			</div>
		</div>
	</div>
</div>
<ng-template #loadingTemplate>
	Loading...
</ng-template>
